In [1]:
import numpy as np
import pandas as pd

In [16]:
# Define tags for Adverb, Noun and To (the preposition) , respectively
tags = ['NN', 'RB', 'TO']

In [3]:
transition_counts = {
    ('NN', 'NN'): 16241,
    ('RB', 'RB'): 2263,
    ('TO', 'TO'): 2,
    ('NN', 'TO'): 5256,
    ('RB', 'TO'): 855,
    ('TO', 'NN'): 734,
    ('NN', 'RB'): 2431,
    ('RB', 'NN'): 358,
    ('TO', 'RB'): 200
}

In [18]:
matrix = np.zeros((3,3))
for i in range(3):
    for j in range(3):
        matrix[i,j] = transition_counts[tags[i],tags[j]]

In [22]:
df = pd.DataFrame(data = matrix, index = tags, columns = tags)
df

         NN      RB      TO
NN  16241.0  2431.0  5256.0
RB    358.0  2263.0   855.0
TO    734.0   200.0     2.0

In [29]:
row_sum = np.sum(matrix, axis=1)
row_sum = row_sum.reshape(3,1)

In [30]:
df/row_sum

          NN        RB        TO
NN  0.678745  0.101596  0.219659
RB  0.102992  0.651036  0.245972
TO  0.784188  0.213675  0.002137